.loader-container {
  position: fixed;
  inset: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container > div {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border-top: 1rem solid rgb(43, 43, 43);
  border-left: 1rem solid rgb(43, 43, 43);
  border-right: 1rem solid #fff;
  border-bottom: 1rem solid #fff;
  animation: loading-animation 0.5s linear infinite;
}

@keyframes loading-animation {
  to {
    transform: rotateZ(360deg);
  }
}
