.families-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 6rem;
  width: 100%;
  height: 45rem;
  background: linear-gradient(81deg, #e7f0ff 9.01%, #e8f1ff78 89.11%);
}

.family-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.family-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.family-heading > p {
  font-size: larger;
  font-weight: 600;
  color: #2aa7ff;
}

.family-heading > h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1b3c74;
}

.family-para > p {
  font-size: larger;
  font-weight: 500;
  color: #77829d;
}

.board-section {
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1450px) {
  .family-text-section {
    width: 70%;
  }

  board-section {
    width: 30%;
  }
}

@media screen and (max-width: 1400px) {
  .families-container {
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 1230px) {
  .families-container {
    padding-left: 0;
    height: 36rem;
  }

  .family-heading > h1 {
    font-size: 3rem;
  }

  .family-heading > p {
    font-size: large;
  }

  .family-para > p {
    font-size: large;
  }
}

@media screen and (max-width: 980px) {
  .family-heading > h1 {
    font-size: 2.8rem;
  }

  .family-heading > p {
    font-size: medium;
  }

  .family-para > p {
    font-size: medium;
  }
}

@media screen and (max-width: 880px) {
  .family-heading > h1 {
    font-size: 2.5rem;
  }

  .family-heading > p {
    font-size: small;
  }

  .family-para > p {
    font-size: small;
  }
  .families-container {
    height: 30rem;
    gap: 1rem;
  }

  .family-text-section {
    width: 80%;
  }

  board-section {
    width: 20%;
  }
}

@media screen and (max-width: 720px) {
  .families-container {
    height: unset;
    flex-direction: column;
  }

  .family-text-section {
    width: 100%;
    gap: 1rem;
  }

  .board-section {
    width: 100%;
    height: 25rem;
  }
}

@media screen and (max-width: 431px) {
  .family-heading > h1 {
    font-size: xx-large;
  }

  .family-heading > p {
    font-size: x-small;
  }

  .family-heading {
    gap: 0rem;
  }

  .family-para > p {
    font-size: x-small;
  }
  .families-container {
    gap: 0;
  }

  .family-text-section {
    padding-left: 0.8rem;
  }
}
