.blog-container {
  width: 100%;
  padding: 2.5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headings > p {
  font-size: larger;
  font-weight: 500;
  color: #2aa7ff;
}

.headings > h1 {
  font-size: 3.5rem;
  font-weight: 500;

  color: #1b3c74;
}

.cards {
  display: flex;
  gap: 2rem;
}
